{% extends 'dashboard_admin/base/base_dashboard_admin.html' %}
{% load static %}


{% block title %}
    Vote Manager
{% endblock %}



{% block custom_css %}

    <link rel="stylesheet" href="{% static 'css/dashboard/vote_manager.css' %}">

{% endblock %}



{% block app_content %}


    <div class="vote-page">


        <div class="vote-header">

            <div>

                <h2 class="vote-title">
                    Vote Manager
                </h2>


                <p class="vote-subtitle">
                    Manage customer reviews and product ratings.
                </p>

            </div>


        </div>


        <!-- SEARCH -->


        <div class="vote-card mt-4">


            <div class="vote-card-body">


                <form method="get">


                    <div class="input-group">


                        <input

                                type="text"

                                name="q"

                                value="{{ request.GET.q }}"

                                class="form-control vote-search"

                                placeholder="Search User, Email, Product..."

                        >


                        <button class="btn btn-success px-4">


                            <i class="bi bi-search"></i>

                            Search


                        </button>


                    </div>


                </form>


            </div>


        </div>


        <!-- TABLE -->


        <div class="vote-card mt-4">


            <div class="vote-card-header">


                <div>


                    <i class="bi bi-chat-square-text-fill"></i>


                    Reviews List


                </div>


                <span class="vote-count">

                {{ votes.paginator.count|default:0 }} Reviews

            </span>


            </div>


            <div class="table-responsive">


                <table class="table vote-table">


                    <thead>

                    <tr>

                        <th>User</th>

                        <th>Email</th>

                        <th>Product</th>

                        <th>Rating</th>

                        <th>Comment</th>

                        <th>Status</th>

                        <th>Date</th>

                        <th>Action</th>

                    </tr>


                    </thead>


                    <tbody>


                    {% for item in votes %}


                        <tr>


                            <td>

                                {{ item.user.first_name }}

                                {{ item.user.last_name }}

                            </td>


                            <td>

                                {{ item.user.email }}

                            </td>


                            <td>

                                {{ item.product.name }}

                            </td>


                            <td>


                                {% for i in "12345" %}

                                    {% if forloop.counter <= item.rating %}

                                        <i class="fa-solid fa-star text-warning"></i>

                                    {% else %}

                                        <i class="fa-regular fa-star text-secondary"></i>

                                    {% endif %}


                                {% endfor %}


                                <small>
                                    ({{ item.rating }}/5)
                                </small>


                            </td>


                            <td class="comment-text">


                                {{ item.description }}


                            </td>


                            <td>


                                {% if item.status %}


                                    <span class="badge approved-badge">

                                Approved

                            </span>


                                {% else %}


                                    <span class="badge pending-badge">

                                Pending

                            </span>


                                {% endif %}


                            </td>


                            <td>


                                {{ item.created_at|date:"Y-m-d" }}


                            </td>


                            <td>


                                <a href="{% url 'change_publish_vote' item.id %}"

                                   class="btn btn-outline-success btn-sm">


                                    {% if item.status %}

                                        Unpublish

                                    {% else %}

                                        Publish

                                    {% endif %}


                                </a>


                            </td>


                        </tr>



                    {% empty %}


                        <tr>

                            <td colspan="8" class="text-center py-5">

                                No reviews found.

                            </td>

                        </tr>



                    {% endfor %}


                    </tbody>


                </table>


            </div>







            {% if votes.has_other_pages %}


                <div class="pagination-wrapper">


                    <nav>


                        <ul class="pagination justify-content-center">


                            {% if votes.has_previous %}

                                <li class="page-item">

                                    <a class="page-link"

                                       href="?page={{ votes.previous_page_number }}&q={{ request.GET.q }}">

                                        Previous

                                    </a>

                                </li>


                            {% endif %}






                            {% for num in votes.paginator.page_range %}



                                <li class="page-item {% if votes.number == num %}active{% endif %}">


                                    <a class="page-link"

                                       href="?page={{ num }}&q={{ request.GET.q }}">

                                        {{ num }}

                                    </a>


                                </li>



                            {% endfor %}





                            {% if votes.has_next %}


                                <li class="page-item">


                                    <a class="page-link"

                                       href="?page={{ votes.next_page_number }}&q={{ request.GET.q }}">

                                        Next

                                    </a>


                                </li>


                            {% endif %}


                        </ul>


                    </nav>


                </div>



            {% endif %}


        </div>


    </div>



{% endblock %}