{% load static %}

<title>Password Changed</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/forget/password_reset_complete.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_tb_sas.ico' %}">
{% endblock %}

{% block content %}

    <section class="login-page">

        <div class="login-container">

            <!-- LEFT -->
            <div class="login-banner">

                <img src="{% static 'images/TB_SAS.png' %}" alt="Password Changed">

                <div class="banner-content">

                    <h1>Password Updated Successfully</h1>

                    <ul>
                        <li>Your account is secure</li>
                        <li>Password changed successfully</li>
                        <li>Ready to continue shopping</li>
                        <li>Fast and secure access</li>
                    </ul>

                </div>

            </div>

            <!-- RIGHT -->
            <div class="login-card">

                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo_tb_sas.png' %}"
                         class="login-logo"
                         alt="Logo">
                </a>

                <h2>Password Changed</h2>

                <p class="complete-text">
                    Your password has been changed successfully.
                    You can now log in with your new password.
                </p>

                <a href="{% url 'show_login' %}"
                   class="login-btn complete-btn">
                    Login Now
                </a>

            </div>

        </div>

    </section>

{% endblock %}